.container {
  display: grid;
  grid-template-columns: 7fr 3fr;
}

.myId {
  margin-right: 5rem;
  border-radius: 5px;
  background: #ffffff;
  background: -webkit-linear-gradient(to right, #ffffff);
  background: linear-gradient(to right, #ffffff);

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
  margin-top: 2rem;
}

.video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
}

.caller {
  text-align: center;
  color: #fff;
}

body {
  background: #023e8a, #0077b6, #0096c7, #00b4d8, #48cae4, #90e0ef, #ade8f4;
  background: -webkit-linear-gradient(
    to right,
    #03045e,
    #023e8a,
    #0077b6,
    #0096c7,
    #00b4d8,
    #48cae4,
    #90e0ef,
    #ade8f4
  );
  background: linear-gradient(
    to right,
    #03045e,
    #023e8a,
    #0077b6,
    #0096c7,
    #00b4d8,
    #48cae4,
    #90e0ef,
    #ade8f4
  );
}
